/* Colours */

.warningText {
  color: #d0011b;
}

body {
  margin: 25px 100px 50px 100px;
  font-family: "Segoe UI", Arial, "Helvetica Neue LT Pro";
  color: #1f1a1c;
  background: #f7f7f7;
}

/* Header */

#header {
  border-bottom: solid 2px #ee2a24;
  margin-bottom: 20px;
  padding: 15px 0;
}

#header .mainLogo {
  display: inline-block;
  width: 200px;
  padding: 0;
}

#header .portalName {
  display: inline;
  margin-left: 15px;
}

#header .portalName a {
  color: #333;
}

#header .portalName a:hover {
  text-decoration: none;
}

/* Navigation */

.mainNav ul {
  display: inline;
}

.mainNav ul li {
  font-size: 1.4em;
  display: inline;
  margin-right: 5px;
  padding: 15px 10px;
}

/* Status Bar */

#statusBar {
  margin-bottom: 20px;
  border-bottom: solid 2px #ee2a24;
}

#statusBar p {
  text-align: center;
  padding: 0;
  margin-top: -5px;
}

/* Content */

/* Footer */

#footer {
  border-top: solid 2px #d7d8d7;
  background: #f7f7f7;
  padding: 20px;
  margin: 20px -15px;
}

#footer p {
  margin: 0;
}

/* Type */

a {
  color: #158aba;
}

a:hover {
  border: none;
  text-decoration: none;
}

a.cta,
input[type="submit"].cta {
  background: #5a98c0;
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: normal;
}

a.cta:hover {
  text-decoration: none;
  background: #1a3351;
}

a.filterBtn,
a.posBtn,
a.negBtn {
  padding: 5px 13px;
  border-radius: 5px;
  color: #1f1a1c;
}

a.filterBtn,
input[type="submit"].filterBtn,
input[type="reset"].filterBtn {
  background: #d7d8d7;
  color: #1f1a1c;
}

a.posBtn,
input[type="submit"].posBtn,
input[type="reset"].posBtn {
  background: #04923e;
}

a.negBtn,
input[type="submit"].negBtn,
input[type="reset"].negBtn {
  background: #d0011b;
}

a.posBtn,
a.negBtn,
input[type="submit"].posBtn,
input[type="reset"].posBtn,
input[type="submit"].negBtn,
input[type="reset"].negBtn {
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

/* Headers */

.sectionHeader {
  border-bottom: solid 3px #9d1f21;
  display: inline-block;
  padding: 0 4px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Tables */

table.table {
  margin-top: 25px;
  /*border-collapse:separate;
	border-spacing:0 .5em;*/
}

table.table th {
  background: #e6e6e6;
  opacity: 0.7;
  filter: alpha(opacity=70);
  color: #1f1a1c;
  border: none;
  border-top: solid 2px #d7d8d7;
  border-bottom: solid 2px #d7d8d7;
  border-left: solid 2px #d7d8d7;
}

table.table th:last-child {
  border-right: solid 2px #d7d8d7;
}

table.table td {
  border: none;
  border-top: solid 1px #d7d8d7;
  border-bottom: solid 1px #d7d8d7;
  vertical-align: middle;
}

/* Definition Lists */

dl dt {
  color: #1f1a1c;
}

/* Forms */

form {
  display: inline;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0;
}

form input,
form textarea,
form select {
  padding: 10px 15px;
}

form input[type="submit"] {
  background: #627b80;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 11px;
}

form input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.8px 0;
  display: none;
}

form input[type=range]:focus {
  outline: none;
}

form input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #dddddd;
  border-radius: 1.3px;
  border: 0px solid #010101;
}

form input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
          box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
  border: 0px solid #d0011b;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #d0011b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.8px;
}

form input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eaeaea;
}

form input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #dddddd;
  border-radius: 1.3px;
  border: 0px solid #010101;
}

form input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
  border: 0px solid #d0011b;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #d0011b;
  cursor: pointer;
}

form input[type=range]::-ms-track {
  width: 100%;
  height: 21.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

form input[type=range]::-ms-fill-lower {
  background: #d0d0d0;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

form input[type=range]::-ms-fill-upper {
  background: #dddddd;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

form input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
  border: 0px solid #d0011b;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #d0011b;
  cursor: pointer;
  height: 21.4px;
}

form input[type=range]:focus::-ms-fill-lower {
  background: #dddddd;
}

form input[type=range]:focus::-ms-fill-upper {
  background: #eaeaea;
}

/* User Messages
	poss. combine?
*/

.pageMessage {
  background: #04923e;
  color: #fff;
  padding: 10px 20px 10px 50px;
  text-align: center;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 1.3em;
}

.userMessage {
  padding: 10px;
  background: #e2ffee;
  font-weight: 600;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
  border: solid 1px #04923e;
  margin: 0 auto;
}

.userMessageWarning {
  padding: 10px;
  background: #f7f7f7;
  font-weight: 600;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
  border: solid 1px #d0011b;
  margin: 0 auto;
}

.monthList {
  padding: 0;
}

.monthList li {
  display: inline;
  margin-right: 10px;
  font-size: 1.2em;
}

.monthList li a {
  padding: 5px 10px;
  border-radius: 5px;
  background: #d7d8d7;
  color: #1f1a1c;
}

.monthList li a:hover {
  text-decoration: none;
  background: #627b80;
  color: #fff;
}

.monthList li a.selectedMonth {
  border: solid 1px #ddd;
  background: #43a92c;
  color: #fff;
}

.monthList li a.currentMonth:hover {
  background: #04923e;
}

.area {
  display: inline;
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.searchLink {
  width: 32px;
  margin-right: 25px;
}

.card-header {
  background: #e6e6e6;
}

.card-header .sectionHeader {
  margin-bottom: 0;
}

.card {
  margin-bottom: 25px;
}

