//https://icons8.com/icon/pack/Ecommerce/color

/* Colours */
	//Primary palette

	$white: #fff;
	$flagWhite: #f7f7f7;
	$shadowBlack: #1f1a1c;
	$dunantRed: #ee2a24; //Hero color
		//Tones
		$earthRed: #9d1f21;
		$deepRed: #651713;
		$lightRed: #e95351;
		$mercerRed: #d0011b;

	//Secondary palette
	$steel: #5a98c0;
	$sky: #158aba;
	$navy: #1a3351;
	$slateGrey: #627b80;
	$fogGrey: #d7d8d7;
	$duck: #baddea;
	$sand: #e4d7aa;
	$earth: #afa48f;
	$mustard: #f1b13b;
	$lime: #43a92c;
	$green: #04923e;
	$claret: #7d1c23;


.warningText{
	color: $mercerRed;
}

body{
	margin: 25px 100px 50px 100px;
	font-family: "Segoe UI", Arial, "Helvetica Neue LT Pro";
	color: $shadowBlack;
	background: $flagWhite;
}


/* Header */
#header{
	border-bottom: solid 2px $dunantRed;
	margin-bottom: 20px;
	padding: 15px 0;

	.mainLogo{
		display: inline-block;
		width: 200px;
		padding: 0;
	}

	.portalName{
		display: inline;
		margin-left: 15px;
		a{
			color: #333;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

/* Navigation */
.mainNav{
	ul{
		display: inline;

		li{
			font-size: 1.4em;
			display: inline;
			margin-right: 5px;
			padding: 15px 10px;
		}
	}
}

/* Status Bar */
#statusBar{
	margin-bottom: 20px;
	border-bottom: solid 2px $dunantRed;

	p{
		text-align: center;
		padding: 0;
		margin-top: -5px;
	}
}

/* Content */



/* Footer */
#footer{
	border-top: solid 2px $fogGrey;
	background: $flagWhite;
	padding: 20px;
	margin: 20px -15px; //fix
	p{
		margin: 0;
	}
}















/* Type */

//Links

a{ color: $sky; }

a:hover{
	border: none;
	text-decoration: none;
}

	//Call to action
	a.cta, input[type="submit"].cta{
		background: $steel;
		padding: 10px 15px;
		display: inline-block;
		color: $white;
		margin-bottom: 10px;
		border-radius: 5px;
		font-weight: normal;
	}

	a.cta:hover{
		text-decoration: none;
		background: $navy;
	}

	//Filter
	a.filterBtn, a.posBtn, a.negBtn{
		padding: 5px 13px;
		border-radius: 5px;
		color: $shadowBlack;
	}

	a.filterBtn, input[type="submit"].filterBtn, input[type="reset"].filterBtn{ background: $fogGrey; color: $shadowBlack;}
	a.posBtn, input[type="submit"].posBtn, input[type="reset"].posBtn{ background: $green; }
	a.negBtn, input[type="submit"].negBtn, input[type="reset"].negBtn{ background: $mercerRed; }

	a.posBtn, a.negBtn, input[type="submit"].posBtn, input[type="reset"].posBtn, input[type="submit"].negBtn, input[type="reset"].negBtn{
		color: $white;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
	}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* Headers */
.sectionHeader{
	border-bottom: solid 3px $earthRed;
	display: inline-block;
	padding: 0 4px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* Tables */
table.table{
	margin-top: 25px;
	/*border-collapse:separate;
	border-spacing:0 .5em;*/

	th{
		background: #e6e6e6;
		@include opacity(0.7);
		color: $shadowBlack;
		border: none;
		border-top: solid 2px $fogGrey;
		border-bottom: solid 2px $fogGrey;
		border-left: solid 2px $fogGrey;
	}
	th:last-child{
		border-right: solid 2px $fogGrey;
	}

	td{
		border: none;
		border-top: solid 1px $fogGrey;
		border-bottom: solid 1px $fogGrey;
		vertical-align: middle;
	}

}


/* Definition Lists */
dl{
	dt{	color: $shadowBlack; }
}

/* Forms */
form{
	display: inline;

	label{
		font-weight: bold;
		display: block;
		margin-bottom: 0;
	}

	input, textarea, select{
		padding: 10px 15px;
	}
	input[type="submit"]{
		background: $slateGrey;
		border: none;
		color: $white;
		font-weight: bold;
		padding: 11px;
	}

	input[type=range]{
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 3.8px 0;
	  display: none; //temp remove sliders
	}
	input[type=range]:focus{
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track{
	  width: 100%;
	  height: 21.4px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #dddddd;
	  border-radius: 1.3px;
	  border: 0px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb{
	  box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
	  border: 0px solid #d0011b;
	  height: 29px;
	  width: 16px;
	  border-radius: 3px;
	  background: #d0011b;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -3.8px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track{
	  background: #eaeaea;
	}
	input[type=range]::-moz-range-track{
	  width: 100%;
	  height: 21.4px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #dddddd;
	  border-radius: 1.3px;
	  border: 0px solid #010101;
	}
	input[type=range]::-moz-range-thumb{
	  box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
	  border: 0px solid #d0011b;
	  height: 29px;
	  width: 16px;
	  border-radius: 3px;
	  background: #d0011b;
	  cursor: pointer;
	}
	input[type=range]::-ms-track{
	  width: 100%;
	  height: 21.4px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower{
	  background: #d0d0d0;
	  border: 0px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper{
	  background: #dddddd;
	  border: 0px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-thumb{
	  box-shadow: 0px 0px 0px #b47c00, 0px 0px 0px #ce8e00;
	  border: 0px solid #d0011b;
	  height: 29px;
	  width: 16px;
	  border-radius: 3px;
	  background: #d0011b;
	  cursor: pointer;
	  height: 21.4px;
	}
	input[type=range]:focus::-ms-fill-lower{
	  background: #dddddd;
	}
	input[type=range]:focus::-ms-fill-upper{
	  background: #eaeaea;
	}
}





/* User Messages
	poss. combine?
*/

.pageMessage{
	background: $green;
	color: $white;
	padding: 10px 20px 10px 50px;
	text-align: center;
	margin-bottom: 15px;
	display: inline-block;
	font-size: 1.3em;
}

.userMessage{
	padding: 10px;
	background: #e2ffee;
	font-weight: 600;
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 10px;
	border: solid 1px $green;
	margin: 0 auto;
}

.userMessageWarning{
	padding: 10px;
	background: $flagWhite;
	font-weight: 600;
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 10px;
	border: solid 1px $mercerRed;
	margin: 0 auto;
}

.monthList{
	padding: 0;
	li{
		display: inline;
		margin-right: 10px;
		font-size: 1.2em;
		a{
			padding: 5px 10px;
			border-radius: 5px;
			background: $fogGrey;
			color: $shadowBlack;
		}

		a:hover{
			text-decoration: none;
			background: $slateGrey;
			color: $white;
		}

		a.selectedMonth{
			border: solid 1px #ddd;
			background: $lime;
			color: #fff;
		}
		a.currentMonth:hover{
			background: $green;
		}
	}
}



.area{
	display: inline;
	border: solid 1px #ccc;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.searchLink{
	width: 32px;
	margin-right: 25px;
}


.card-header{
	background: #e6e6e6;

	.sectionHeader{
		margin-bottom: 0;
	}
}
.card{
	margin-bottom: 25px;
}
